{% extends "admin/_base.html" %}
{% load static %}
{% block content_admin %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Create Blog</h5>
    <div class="card">
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="mb-3">
            <label class="form-label">Title</label>
            {{ form.title }}
            {% if form.title.errors %}
              <div class="text-danger">{{ form.title.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label">Slug</label>
            {{ form.slug }}
            {% if form.slug.errors %}
              <div class="text-danger">{{ form.slug.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label">Description</label>
            {{ form.desc }}
            {% if form.desc.errors %}
              <div class="text-danger">{{ form.desc.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label">Category</label>
            {{ form.category }}
            {% if form.category.errors %}
              <div class="text-danger">{{ form.category.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label">Content</label>
            {{ form.content }}
            {% if form.content.errors %}
              <div class="text-danger">{{ form.content.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label">Image</label>
            {{ form.img }}
            {% if form.img.errors %}
              <div class="text-danger">{{ form.img.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label class="form-label">Status</label>
            {{ form.status }}
            {% if form.status.errors %}
              <div class="text-danger">{{ form.status.errors.0 }}</div>
            {% endif %}
          </div>

          <button type="submit" class="btn btn-primary">Create Blog</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content_admin %}