{% extends "_base.html" %}

{% block content %}
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-4 text-lg">{{blog.title}}</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url "core:home" %}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">{{blog.title}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section blog-wrap bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
	<div class="col-lg-12 mb-5">
		<div class="single-blog-item">
			<img src="images/blog/2.jpg" alt="" class="img-fluid rounded">

			<div class="blog-item-content bg-white p-5">
				<div class="blog-item-meta bg-gray py-1 px-2">
					<span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>{{blog.user}}</span>
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> {{blog.jcreated_at}}</span>
				</div> 

				<h2 class="mt-3 mb-4"><a href="blog-single.html">{{blog.title}}</a></h2>
				<p>{{blog.content}}</p>

				<div class="tag-option mt-5 clearfix">
				    <ul class="float-left list-inline"> 
				    	<li>Category:</li> 
						{% for cat in blog.category.all %}
				    	<li class="list-inline-item"><a href="#" rel="tag">{{cat.name}}</a></li>
						{% endfor %}
				   	</ul>        

				    <ul class="float-right list-inline">
				        <li class="list-inline-item"> Share: </li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
				    </ul>
			    </div>
			</div>
		</div>
	</div>


	<div class="col-lg-12 mb-5">
		<div class="posts-nav bg-white p-5 d-lg-flex d-md-flex justify-content-between ">
			<a class="post-prev align-items-center" href="#">
				<div class="posts-prev-item mb-4 mb-lg-0">
					<span class="nav-posts-desc text-color">- Previous Post</span>
					<h6 class="nav-posts-title mt-1">
											{% if previous_post %}
												<a href="{% url 'blog:detail-blog' previous_post.pk  previous_post.slug %}" class="theme-bg">
													<div class="title-with-link">
														<span class="intro">پست قبلی: {{ previous_post.title }}</span>
													</div>
												</a>
											{% endif %}					</h6>
				</div>
			</a>
			<div class="border"></div>
			<a class="posts-next" href="#">
				<div class="posts-next-item pt-4 pt-lg-0">
					<span class="nav-posts-desc text-lg-right text-md-right text-color d-block">- Next Post</span>
					<h6 class="nav-posts-title mt-1">
											{% if next_post %}
												<a href="{% url 'blog:detail-blog' next_post.pk  next_post.slug %}" class="theme-bg">
													<div class="title-with-link">
														<span class="intro">پست بعدی: {{ next_post.title }}</span>
													</div>
												</a>
											{% endif %}					</h6>
				</div>
			</a>
		</div>
	</div>

<div class="col-lg-12 mb-5">
  <div class="comment-area card border-0 p-5">
    <h4 class="mb-4">{{ blog.comments.count }} Comment{{ blog.comments.count|pluralize }}</h4>
    <ul class="comment-tree list-unstyled">
      {% for comment in blog.comments.all %}
        <li class="mb-5">
          <div class="comment-area-box">
            <img alt="" src="{{ comment.user.profile_pic.url|default:'/static/images/default-avatar.png' }}" 
                 class="img-fluid float-left mr-3 mt-2" width="60">

            <h5 class="mb-1">{{ comment.user.get_full_name|default:comment.user.username }}</h5>
            <span>{{ comment.user.email }}</span>

            <div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
              <span class="date-comm">Posted {{ comment.created_at|date:"F j, Y" }}</span>
            </div>

            <div class="comment-content mt-3">
              <p>{{ comment.content }}</p>
            </div>
          </div>
        </li>
      {% empty %}
        <p>No comments yet. Be the first to comment!</p>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="col-lg-12">
  <form method="post" class="contact-form bg-white rounded p-5">
    {% csrf_token %}
    <h4 class="mb-4">Write a comment</h4>

    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.content }}
      {{ form.content.errors }}
    </div>

    <button type="submit" class="btn btn-main btn-round-full">Submit Comment</button>
  </form>
</div>

</div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrap">
	<div class="sidebar-widget search card p-4 mb-3 border-0">
		<input type="text" class="form-control" placeholder="search">
		<a href="#" class="btn btn-mian btn-small d-block mt-2">search</a>
	</div>

	<div class="sidebar-widget card border-0 mb-3">
		<img src="images/blog/blog-author.jpg" alt="" class="img-fluid">
		<div class="card-body p-4 text-center">
			<h5 class="mb-0 mt-4">Arther Conal</h5>
			<p>Digital Marketer</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolore.</p>

			<ul class="list-inline author-socials">
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-twitter text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-pinterest text-muted"></i></a>
				</li>
				<li class="list-inline-item mr-3">
					<a href="#"><i class="fab fa-behance text-muted"></i></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="sidebar-widget latest-post card border-0 p-4 mb-3">
		<h5>Latest Posts</h5>
		{% for blog in latest_post %}
        <div class="media border-bottom py-3">
            <a href="#"><img class="mr-4" src="images/blog/bt-3.jpg" alt=""></a>
            <div class="media-body">
                <h6 class="my-2"><a href="#">{{blog.title}}</a></h6>
                <span class="text-sm text-muted">03 Mar 2018</span>
            </div>
        </div>
		{% endfor %}


	</div>

	<div class="sidebar-widget bg-white rounded tags p-4 mb-3">
		<h5 class="mb-4">Tags</h5>

		<a href="#">Web</a>
		<a href="#">agency</a>
		<a href="#">company</a>
		<a href="#">creative</a>
		<a href="#">html</a>
		<a href="#">Marketing</a>
		<a href="#">Social Media</a>
		<a href="#">Branding</a>
	</div>
</div>
            </div>   
        </div>
    </div>
</section>
{% endblock content %}
